.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper input {
  min-width: 120px;
  padding: 20px;
  margin-bottom: 24px;
}

.input-wrapper i {
  position: absolute;
  right: 15px;
  top: 38px;
  color: grey;
}
.btn {
  width: 150px;
}
.change {
  display: none;
  color: red;
  font-size: 18px;
}

