*,
*:hover,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #2c2c2c;
}

.wrapper {
  max-width: 1480px;
  background: rgba(0, 0, 0, 0.0001);
  margin: 0 auto;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

/* LOGO +++++++++++++
++++++++++++++++++++*/
.logo {
  margin-top: 60px;
}
.logo-item {
  font-size: 80px;
  text-align: center;
  text-decoration: none;
  color: rgb(84, 159, 230);
}
span {
  color: #000000;
}
.color {
  background: #35444f;
}

.button {
  padding: 20px 50px;
  font-size: 27px;
  color: #18cfab;
  background: #35444f;
}

/* TOP NAV ++++++++++++
+++++++++++++++++++++*/
.top__nav {
  margin-top: 40px;
}
.top__nav-list {
  display: flex;
}
.top__nav-list li {
  background-color: #35444f;
  transition: all 0.3s linear;
}
.top__nav-list li:hover {
  background-color: #222f3a;
}
.top__nav-item {
  text-align: center;
  border: 1px solid #ccc;
  padding-top: 26px;
  padding-bottom: 19px;
}

.top__nav-item a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}
.small {
  width: 160px;
  height: 70px;
}
.big {
  width: 320px;
  height: 70px;
}
/* SIDBAR++++++++++++++++++
++++++++++++++++++++++++++*/
.sidbar {
  display: flex;
  flex-direction: column;
}
.sidbar_nav-list {
  width: 344px;
  border: 1px solid #000000;
  margin-right: 50px;
}
.sidbar_nav-item {
  padding: 25px 45px;
  transition: all 0.3s linear;
}
.sidbar_nav-item:hover {
  background-color: #dbdbdb;
}

.sidbar_nav-item a {
  font-size: 27px;
  color: #495863;
  text-decoration: none;
}

/* BLOC MAIN+++++++++++++++++++++++
++++++++++++++++++++++++++++++++++ */
.block_main {
  display: flex;
  margin: 50px 0;
}
/* main-background-aries++++++++++
+++++++++++++++++++++++++++ */
.main__background {
  display: flex;
  flex-direction: column;
}
.background__white {
  position: relative;
  width: 885px;
  height: 530px;
  border: 1px solid #000000;
}
.aries__img {
  width: 320px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -190px;
  background-image: url(./img/aries.jpg);
}
.section p {
  padding-top: 35px;
}
/* footer+++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++ */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
}
.footer__nav li {
  margin: 20px;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
}
.footer__nav-item a {
  font-size: 28px;
  color: #010101;
  text-decoration: none;
  transition: all 0.3s linear;
}
.footer__nav-item a:hover {
  color: rgb(21, 107, 189);
}
.copyright {
  font-size: 24px;
  color: #010101;
  margin-right: 40px;
}
