* ,
* :hover ,
* ::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
    
}
.milan-block {
    width: 100%;
    background-image: url(./img/background\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   
   
    
}
.container {
    width: 1030px;
    margin: 0 auto;
    
}
.milan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding-top: 45px;
    padding-right: 8px;
    
}

.milan-logo a {
    transition: all .5s;
    
}
.milan-logo a:hover{
    color: #F26522;
}
.milan-icon {
    display:inline-block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./img/logo\ milan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.img-icon {
    transition: all .5s;
    opacity: .1;
}
.milan-logo:hover .img-icon {
    
    opacity: 1;
}

    

.logo-span-top{
    font-size: 29px;
    
    position: absolute;
    top: 0px;
    left: 60px;
}
.logo-span-bottom {
    font-size: 18px;
    
    position: absolute;
    top: 32px;
    left: 60px;
}
.milan-contact   {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
    font-size: 18px;
    line-height: 18px;

}
.milan-contact :hover {
    color: #F26522;
}

.contact-phone {
   align-self: flex-end;
   
}

/* MILAN-MAIN++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++ */
.milan-main {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 298px 298px;
    
    grid-column-gap: 61px;
    
}
.block-shopping  {
    display: inline-block;
    position: relative;
    overflow: hidden;
    
}


.title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    transition: all .5s;
}
    

.block-shopping:hover .title {
    color: #F26522;
}

/* FOOTER+++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++ */
.footer {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 15px;
}



.view_detalis-item {
  
    position: absolute;
    left: 2px;
    bottom: 77px;
    width: 305px;
    height: 55px;
    background-color: #F26522;
    opacity: 0;
    transition: all 0.5s;
   

}
.block-shopping:hover .view_detalis-item {
    opacity: 1;
    cursor: pointer;
   
}
.view-top {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #fff;
    padding: 8px 16px;
}
.view-bottom-price {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    padding: 0px 16px 12px;
}
.view-bottom-detalis {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
    padding: 29px 22px 12px 105px;
   
}


.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}