* ,
* :hover ,
* ::after {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}

.travel-block {
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg) center/cover no-repeat;
    
}
/* HEADER+++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++ */

.header {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    
   
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    
}
.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    
    padding: 10px 0;
}
.logo {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}
.logo:hover {
    color: #3CB878;
    
}
.lists {
    width: 835px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    
}
.list-item a {
    margin-right: 25px;
    display: inline-block;
    position: relative;
}
.list-item:last-child {
    margin-right: 0px;
}

.item-calendar_grenn {
    background-image: url(../img/calendar\ -grenn.svg);
}
.item-email_grenn {
    background-image: url(../img/email-green.svg);
}
.item-compas_grenn {
    background-image: url(../img/compas\ -green.svg);
}
.icon-item  {
    transition: all .5s;
    opacity: .9;
}
.icon-item:hover {
    
    opacity: 0.1;;
}

 .welcom {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    padding: 5px;
    position: relative;
}
.welcom::before {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);;
    height: 19px;
    opacity: .5;
    position: absolute;
    top: 3px;
    left: -33px;
    
    

}
.authorization {
    color: #fff;
    transition: all.5s;
}
.authorization:hover {
    color: #3CB878;
    
}
/* form-block+++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++= */
.form-block {
    width: 444px;
    height: 584px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -222px;
    margin-top: -270px;
   
}
.container-form {
    width: 324px;
    margin: 0 auto;
}
.form-title {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
    
}
.form-title::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    left: 0;
    background: #3CB878;
}
.sign-title {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    font-weight: 400;
}
.log-in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    font-weight: 400;

    transition: all .5s linear;
}
.log-in:hover{
    text-decoration:underline ;
    color: #01813F;
  
}

.btn {
    display: inline-block;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    outline: 0;
    position: relative;

    transition: all .5s linear;
}

.fasebook {
    background-color: #305DB8;
    padding: 17px 22px 17px 65px;
}
.fasebook:hover {
    background: #022263;
}
.btn::after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    position: absolute;
    top: 10px;
    left: 50px;
    opacity: 0.1;
}

.facebook_icon{
    position: absolute;
    top: 10px;
    left: 15px;
}
.google {
    background-color: #DF4A32;
    padding: 17px 27px 17px 80px;
}
.google:hover {
    background: #AB1F09; 
}

.google-icon {
    position: absolute;
    top: 17px;
    left: 15px;
}
.or {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 31px 0 11px;
    color: #848484;
    position: relative;
}

.or::before,
.or::after {
       content: "";
       display: block;
       position: absolute;
       top: 39px;
       width: 152px;
       height: 1px;
       
       background-color: #f2f2f2;
}
.or::before {
    left: 0;
}
.or::after {
   
    right: 0;
    
}
.form-group {
    margin-top: 11px;
    margin-bottom: 12px;
    color: #BEBEBE;
}

.input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 15px 20px;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:#434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;

    transition: all .5s linear;
}
.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color:#434343;
}
.input::placeholder {
    color: #BEBEBE;
}
.input:last-child {
    margin-bottom: 0px;
}
.checkbox {
    font-size: 14px;
    padding-left: 5px;
}
.span-chec a {
    color: rgba(60, 184, 120, 0.8);
}
.span-chec a:hover {
    text-decoration: underline;
    color:#01813F;
 
}
    
.checkbox {
    position: relative;
    margin-bottom: 20px;
}

.checkboc-input {
    appearance: none;
    position: absolute;
}
.checkbox-label {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 25px;
    vertical-align: middle;
}
.checkbox-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.checkbox-label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background: url("../img/chec-hover.svg")no-repeat;
    background-size: 18px 18px;
    opacity: 0;
    transition: all .5s linear;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
}

.checkboc-input:checked + .checkbox-label::after {
    opacity: 1;
}
.button {
    width: 100%;
    height:46px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background: #01813F;
    opacity: 0.8;
    border-radius: 4px;
    outline: 0;
    border: none;

    transition: all .5s linear;
}
.button:hover {
    opacity: 1;
}