.grid{
    margin-top: 74px;
}
.grid-item--width1{
    width: 115px;
    margin-top: 3px;
}
.grid-item--width2{
    width: 119px;
    padding-right: 3px;
    margin-top: 3px;
}
.grid-item--width3{
    width: 124px;
    margin-top: 3px;
    padding-right: 3px;
}
.grid-item--width4{
    width: 180px;
    padding-right: 3px;
}
.grid-item--width5{
    width: 181px;
}
.grid-item--width6{
    width: 363px;
    margin-top: 18px;
    padding-left: 1px;
}
.grid-item--width7{
    width: 370px;
    padding-right: 18px;
    margin-bottom: 18px;
  }
.grid-item--width8{
    width: 180px;
    padding-right: 10px;
    margin-bottom: 18px;
}
.grid-item--width9{
    width: 180px;
    margin-bottom: 18px;
}
.grid-item--width10{
    width: 554px;
    padding-right: 32px;
}
.grid-item--width11 {
    width: 554px;
}
.grid-item--width12{
    width: 370px;
    padding-right: 18px;
    margin-bottom: 18px;
    margin-top: -77px;
}
.grid-item--width13{
    width: 363px;
    margin-top: -77px;
    padding-left: 19px;
}
.grid-item img{
    display: block;
}
.image4 {
    width: 181px;
    height: 168px;
}
.image9 {
    width: 370px;
}
.image10 {
    width: 180px;
}
.image11 {
    width: 363px;
}
.grid-item{
    position: relative;
}
.cover-item{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.cover-item.width7{
    width: calc(100% - 18px);
}
.cover-item.width10{
    width: calc(100% - 32px);
}
.cover-item.width2,
.cover-item.width3,
.cover-item.width4{
    width: calc(100% - 3px);
}
.cover-item.width6{
    width: calc(100% - 1px);
}
.cover-item.width1,
.cover-item.width5,
.cover-item.width9,
.cover-item.width11{
    width: 100%;
}
.cover-item.width8{
    width: calc(100% - 10px);
}
.cover-item a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background: #00CBF6;
    position: relative;
}
.cover-item a i.fa{
    color: #FFFFFF;
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 7px);
}
.icon-search{
    margin-right: 10px;
}
.grid-item:hover .cover-item{
    display: flex;
}
.grid2.load{
    display: none;
}
.grid2{
    margin-bottom: 81px;
}

