*,
*:hover,
*:after {
    box-sizing: border-box;
}
body {
    font-family: 'Arimo', sans-serif;
    font-weight: normal;
    background-color: #f2f2f2;
   margin: 50px;
}


.table {
    width: 1197px;
    height: 660px;
    border: 28px solid #3A4965;
    border-collapse: collapse;
    margin: 0 auto;
}
.table th {
    width: 160px;
    height: 115px;
    border-bottom: 15px solid #3A4965;
    padding-top: 26px;
}
.table th:nth-last-of-type(2n) {
    background-color:#E3E3E3;
}
.body{
    position: relative;
    
}
.body td {
    width: 160px;
    height: 164px;
    text-align: center;
    vertical-align: middle;
}


.body td:nth-last-of-type(-2n+5) {
    border-bottom:3px solid #e6d5d5;
    
}
.body td:nth-last-of-type(2n) {
    border-bottom:3px solid #e6d5d5;
    
}

.body td:nth-last-of-type(2n) {
    background-color:#E3E3E3;
}
.body td:first-child {
    width: 198px;
    height: 164px;
    
}

.first_line {
    
    height: 165px;
    background-color: #89C331;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.first_line-inner {
    display: flex;
    flex-direction: column;
   
    padding: 15px;
   
}

.second_line {
    background-color: #F04A56;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    height: 165px;
}
.second_line-inner{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.third_line {
    height: 165px;
    background-color: #20807C;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.third_line-inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
  
   
}

/* text size */
.small-text {
    font-size: 14px;
    font-weight: bold;
    color: #282828;
    text-align: center;
    text-transform: uppercase;
}
.big-text {
    font-size: 20px;
    font-weight: bold;
    color: #282828;
    text-align: center;
    text-transform: uppercase;
}
.middle-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
   align-items: center;
    text-transform: uppercase;
}
.title {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 5px;

    color: #fff;

}
/* numeral */

.month {
    display:flex;
    justify-content: space-around;
    margin-bottom: 16px;
}
.month-numeral {
    font-size: 36px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    position: relative;
    margin-right: 20px;
}
.month-numeral span {
    font-size: 17px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    position: absolute;
    
    
   
    bottom: 10px;
    
}
.month-numerall {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    padding-left: 5px;
}
/* btn */

.btn {
    font-size: 16px;
    font-weight:bold;
    background-color: #414141;
    padding: 5px 25px;
    border: 1px solid #414141;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin:0 auto;
    transition: all .3s linear;
}
.btn:hover {
    background-color: #816d6d;
}