*,
*:hover,
*:after {
    box-sizing: border-box;
}
body {
    font-family: 'Arimo', sans-serif;
    font-weight: normal;
    background-color: #f2f2f2;
    margin:10px;
}
/* TABLE++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++ */
.table {
    width: 1197px;
    height: 736px;
    border: 28px solid #3A4965;
    border-collapse: collapse;
    text-transform: uppercase;
    margin: 0 auto;
}

.table td {
    border-right: 2px solid rgb(221, 201, 201);
    
}
.table th {
    border-right: 2px solid rgb(221, 201, 201);
    
}
/* HEADER TOP++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++ */
.header{
    background-color: #FAFAFA;
}
.header_top {
    width: 284px;
    height: 73px;
    font-size: 24px;
    font-weight: 700;
    padding-top: 18px;
    position: relative;
  
    
    
}
.header_top+.light-green {
    background-color: #89C331;
    color:#fff;
    border-right: none
}
.header_top+.red {
    background-color: #F04A56;
    color:#fff;
    border-right: none
}
/* BACKGROUND COLOR++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++ */
.nephritis {
    background-color: #20807C;
    color:#fff;
}
.black {
    background-color: #484848;
    color:#fff;
}
.grey {
    background-color: #E3E3E3;
}
.grey-fon {
    background-color: #ddd;
}
.grey_light-fon {
    background-color: #eee;
}
.grey_light-fon2 {
    background-color:#F4F4F4;
}
.grey_light-fon3 {
    background-color: #eee;
}
.light_green-btn{
    background-color: #89C331;
}
.red-btn {
    background-color: #F04A56;
}

/* Tbody+++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++ */

.tbody td {
    text-align: center;
    vertical-align: middle;
}
    

.price {
    width: 280px;
    height: 89px;
    font-size: 60px;
    font-weight: 700;
    padding-top: 26px;
    padding-right: 110px;
    position: relative;
    text-align: center;
   
}

span  {
    
    font-size: 18px;
    font-weight: 400;
    position:absolute;
    top: 50px;

}
.sup {
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    top: 20px;

}

/* BUTTON++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++ */
.btn {
    display: inline-block;
    padding-top: 20px;
    width: 195px;
    height: 54px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s linear;
    opacity: inherit;
    
}

.btn:hover {
    opacity: .6;
}




































.small-text {
    font-size: 18px;
    font-weight: bold;
    color: #282828;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 45px;
    left: 70px;
}
.big-text  {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #282828;
    text-align: center;
    text-transform: uppercase;
  
    left: 34px;
    bottom: 50px;
}